/* reset structure */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* root styles professionalCard */

:root{

    --background:#020617;
    --card:#0f172a;
    --card-border:rgba(255,255,255,.08);

    --primary:#3b82f6;
    --primary-hover:#2563eb;

    --text:#f8fafc;
    --secondary:#94a3b8;

    --success:#22c55e;
}

/* body */

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:25px;

    font-family:'Segoe UI',sans-serif;

   background:
linear-gradient(
    180deg,
    #020617 0%,
    #0f172a 50%,
    #111827 100%
);

    overflow-x:hidden;
}

/* full card */

.professionalCard{

    width:100%;
    max-width:850px;

    background:
    linear-gradient(
        145deg,
        rgba(15,23,42,.95),
        rgba(30,41,59,.95)
    );

    backdrop-filter:blur(20px);

    border:1px solid var(--card-border);

    border-radius:28px;

    padding:50px;

    text-align:center;

    box-shadow:
    0 20px 60px rgba(0,0,0,.45);

    transition:.4s ease;
}

.professionalCard:hover{

    transform:translateY(-8px);

    box-shadow:
    0 25px 80px rgba(59,130,246,.18);
}

/* profile img */

.profileImage{

    width:170px;
    height:170px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid rgba(59,130,246,.8);

    margin-bottom:25px;

    transition:.4s ease;

    box-shadow:
    0 0 0 10px rgba(59,130,246,.08),
    0 15px 40px rgba(59,130,246,.25);
}

.profileImage:hover{

    transform:scale(1.05);

    box-shadow:
    0 0 0 14px rgba(59,130,246,.12),
    0 20px 50px rgba(59,130,246,.35);
}

/* name */

.name{

    font-size:2.6rem;

    font-weight:700;

    color:var(--text);

    letter-spacing:.5px;

    margin-bottom:12px;
}

/* technical */

.technical{

    color:#60a5fa;

    font-size:1.15rem;

    font-weight:600;

    margin-bottom:12px;
}

/* location */

.location{

    color:var(--secondary);

    font-size:.95rem;

    font-weight:500;

    margin-bottom:22px;
}

/* description */

.description{

    max-width:650px;

    margin:auto;

    line-height:1.8;

    color:#cbd5e1;

    font-size:15px;

    margin-bottom:35px;
}

/* skills */

.skills{

    margin-bottom:40px;
}

.skill{

    display:inline-block;

    margin:6px;

    padding:10px 18px;

    border-radius:999px;

    background:
    rgba(59,130,246,.08);

    border:
    1px solid rgba(96, 165, 250, 0.329);

    color:#93c5fd;

    font-size:14px;

    font-weight:600;

    transition:.3s ease;
}

.skill:hover{

    background:#003985;

    color:white;

    transform:
    translateY(-3px);

    box-shadow:
    0 10px 25px rgba(37,99,235,.30);
}

/* links buttons */

.linksButtons{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;

    margin-bottom:35px;
}

.linkButton{

    text-decoration:none;

    color:white;

    font-weight:600;

    padding:13px 22px;

    border-radius:12px;

    background:
    linear-gradient(
        135deg,
        #021235,
        #007fd3
    );

    transition:.3s ease;

    box-shadow:
    0 10px 25px rgba(37,99,235,.25);
}

.linkButton:hover{

    transform:
    translateY(-3px)
    scale(1.03);

    box-shadow:
    0 15px 35px rgba(37,99,235,.45);
}

/* footer */

.footer{

    padding-top:20px;

    border-top:
    1px solid rgba(255,255,255,.06);

    color:#94a3b8;

    font-size:14px;

    letter-spacing:.3px;
}

/* test responsive tablet  */

@media(max-width:768px){

    .professionalCard{

        padding:35px 25px;
    }

    .profileImage{

        width:140px;
        height:140px;
    }

    .name{

        font-size:2rem;
    }

    .technical{

        font-size:1rem;
    }

    .description{

        font-size:14px;
    }
}

/* responsive phone */

@media(max-width:480px){

    body{

        padding:15px;
    }

    .professionalCard{

        padding:25px 18px;
    }

    .profileImage{

        width:120px;
        height:120px;
    }

    .name{

        font-size:1.6rem;
    }

    .technical{

        font-size:.95rem;
    }

    .location{

        font-size:.85rem;
    }

    .description{

        font-size:13px;
    }

    .linkButton{

        width:100%;
    }

    .skill{

        font-size:13px;
    }
}