<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Professional Card</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="professionalCard">

        <img src="{{ url_for('static', filename='Profile.png') }}" alt="Profile Photo" class="profileImage">

        <h1 class="name">Juan Diego Corella Camacho</h1>

        <h2 class="technical">Full Stack Developer | Telecommunications Technician</h2>

        <h3 class="location">Location: Cartago, Costa Rica</h3>

        <p class="description">Passionate about software development, new technologies and scalable web applications.</p>


        <div class="skills">
            <span class="skill">Python</span>
            <span class="skill">Django</span>
            <span class="skill">React</span>
            <span class="skill">JWT Authentication</span>
            <span class="skill">Telecommunications</span>
        </div>


        <div class="linksButtons">
            <a class="linkButton" href="https://github.com/JuanDiegoCC02" target="_blank">
               GitHub
            </a>

            <a class="linkButton" href="https://juandiegocc02.github.io/Professional-Portfolio/" target="_blank">
               Portfolio
            </a>

            <a class="linkButton" href="mailto:dcorella2324@gmail.com" target="_blank">
               Email
            </a>

            <a class="linkButton" href="https://www.linkedin.com/in/juan-diego-corella-camacho-a543ba1a9/" target="_blank">
               LinkedIn
            </a>
        </div>


        <footer class="footer">Available for job opportunities</footer>

    </div>

    <script src="{{ url_for('static', filename='ProfessionalCard.js') }}"></script>

</body>
</html>